UATService/Service References/CLoggingService/Monitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LongSecondToLocalTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="seconds" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LongSecondToLocalTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LongSecondToLocalTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocalTimeToLongSecond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hour" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minute" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="second" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocalTimeToLongSecondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocalTimeToLongSecondResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Request">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jme" type="tns:JobMsgEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JobMsgEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JobClassFullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JobStatus" type="tns:JobStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="JobResult" type="tns:JobResult" />
          <s:element minOccurs="1" maxOccurs="1" name="LastEndTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="JobInfo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NeedParallel" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="JobStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Stop" />
          <s:enumeration value="Running" />
          <s:enumeration value="Stopping" />
          <s:enumeration value="Stoped" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="JobResult">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Fail" />
          <s:enumeration value="Exception" />
          <s:enumeration value="Abort" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestResult" type="tns:JobMsgEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetClientVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dateTime" type="s:dateTime" />
      <s:element name="long" type="s:long" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LongSecondToLocalTimeSoapIn">
    <wsdl:part name="parameters" element="tns:LongSecondToLocalTime" />
  </wsdl:message>
  <wsdl:message name="LongSecondToLocalTimeSoapOut">
    <wsdl:part name="parameters" element="tns:LongSecondToLocalTimeResponse" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondSoapIn">
    <wsdl:part name="parameters" element="tns:LocalTimeToLongSecond" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondSoapOut">
    <wsdl:part name="parameters" element="tns:LocalTimeToLongSecondResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSoapIn">
    <wsdl:part name="parameters" element="tns:Request" />
  </wsdl:message>
  <wsdl:message name="RequestSoapOut">
    <wsdl:part name="parameters" element="tns:RequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientVersion" />
  </wsdl:message>
  <wsdl:message name="GetClientVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientVersionResponse" />
  </wsdl:message>
  <wsdl:message name="LongSecondToLocalTimeHttpGetIn">
    <wsdl:part name="seconds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LongSecondToLocalTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:dateTime" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondHttpGetIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="day" type="s:string" />
    <wsdl:part name="hour" type="s:string" />
    <wsdl:part name="minute" type="s:string" />
    <wsdl:part name="second" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondHttpGetOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetClientVersionHttpGetIn" />
  <wsdl:message name="GetClientVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LongSecondToLocalTimeHttpPostIn">
    <wsdl:part name="seconds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LongSecondToLocalTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:dateTime" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondHttpPostIn">
    <wsdl:part name="year" type="s:string" />
    <wsdl:part name="month" type="s:string" />
    <wsdl:part name="day" type="s:string" />
    <wsdl:part name="hour" type="s:string" />
    <wsdl:part name="minute" type="s:string" />
    <wsdl:part name="second" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LocalTimeToLongSecondHttpPostOut">
    <wsdl:part name="Body" element="tns:long" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetClientVersionHttpPostIn" />
  <wsdl:message name="GetClientVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MonitorSoap">
    <wsdl:operation name="LongSecondToLocalTime">
      <wsdl:input message="tns:LongSecondToLocalTimeSoapIn" />
      <wsdl:output message="tns:LongSecondToLocalTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <wsdl:input message="tns:LocalTimeToLongSecondSoapIn" />
      <wsdl:output message="tns:LocalTimeToLongSecondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Request">
      <wsdl:input message="tns:RequestSoapIn" />
      <wsdl:output message="tns:RequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <wsdl:input message="tns:GetClientVersionSoapIn" />
      <wsdl:output message="tns:GetClientVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MonitorHttpGet">
    <wsdl:operation name="LongSecondToLocalTime">
      <wsdl:input message="tns:LongSecondToLocalTimeHttpGetIn" />
      <wsdl:output message="tns:LongSecondToLocalTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <wsdl:input message="tns:LocalTimeToLongSecondHttpGetIn" />
      <wsdl:output message="tns:LocalTimeToLongSecondHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <wsdl:input message="tns:GetClientVersionHttpGetIn" />
      <wsdl:output message="tns:GetClientVersionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MonitorHttpPost">
    <wsdl:operation name="LongSecondToLocalTime">
      <wsdl:input message="tns:LongSecondToLocalTimeHttpPostIn" />
      <wsdl:output message="tns:LongSecondToLocalTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <wsdl:input message="tns:LocalTimeToLongSecondHttpPostIn" />
      <wsdl:output message="tns:LocalTimeToLongSecondHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <wsdl:input message="tns:GetClientVersionHttpPostIn" />
      <wsdl:output message="tns:GetClientVersionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitorSoap" type="tns:MonitorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LongSecondToLocalTime">
      <soap:operation soapAction="http://tempuri.org/LongSecondToLocalTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <soap:operation soapAction="http://tempuri.org/LocalTimeToLongSecond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Request">
      <soap:operation soapAction="http://tempuri.org/Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <soap:operation soapAction="http://tempuri.org/GetClientVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitorSoap12" type="tns:MonitorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LongSecondToLocalTime">
      <soap12:operation soapAction="http://tempuri.org/LongSecondToLocalTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <soap12:operation soapAction="http://tempuri.org/LocalTimeToLongSecond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Request">
      <soap12:operation soapAction="http://tempuri.org/Request" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <soap12:operation soapAction="http://tempuri.org/GetClientVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitorHttpGet" type="tns:MonitorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LongSecondToLocalTime">
      <http:operation location="/LongSecondToLocalTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <http:operation location="/LocalTimeToLongSecond" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <http:operation location="/GetClientVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitorHttpPost" type="tns:MonitorHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LongSecondToLocalTime">
      <http:operation location="/LongSecondToLocalTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalTimeToLongSecond">
      <http:operation location="/LocalTimeToLongSecond" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientVersion">
      <http:operation location="/GetClientVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Monitor">
    <wsdl:port name="MonitorSoap" binding="tns:MonitorSoap">
      <soap:address location="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitorSoap12" binding="tns:MonitorSoap12">
      <soap12:address location="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitorHttpGet" binding="tns:MonitorHttpGet">
      <http:address location="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitorHttpPost" binding="tns:MonitorHttpPost">
      <http:address location="http://192.168.82.67/CLoggingAppMonitor_Prod/Monitor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>